a:link { 

  color: black;
 
  text-decoration: none;
 
 }
 
 a:visited {
 
  color: black;
 
  text-decoration: none;
 
 }
 
 a:hover {
 
  color: #58595b;
 
  text-decoration: none;
 
 }
 
 a:active {
 
  color: #58595b;
 
  text-decoration: none;
 
 }

.top-bar {
  display: flex;
  background-color: #eee;
  height: 32px;
  align-items: center;
  justify-content: flex-end;
}

.top-bar a{
  margin: 10px;
}
.mid-bar {
  border: 1px solid #000;
  display: inline-block;
  width: 100%;
  display: flex;
}

.serchbar {
  justify-content: center;
  
  
  width: 400px;
  height: 300px;
}


.category{
  display: flex;
  background-color: rgb(105, 156, 231);
  width: 120px;
  height: 110px;
  align-items: center;
  justify-content: center;
  
  
  
}
.category h4{
  margin-left: 6px;
}

.logo {
  width: 300px;
  height: 100px;
  margin-top: 30px;
 
}

.profiles {
  border: 1px solid #000;
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: rgb(191, 208, 235);;
  color:black;
}

.user{
  display: flex;
  
}
.user p{
  margin-top: 10px;
}

.user img{
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.intro {
  
  margin-right: 40px;
  display: block;
}










