a:link { 

  color: black;
 
  text-decoration: none;
 
 }
 
 a:visited {
 
  color: black;
 
  text-decoration: none;
 
 }
 
 a:hover {
 
  color: #58595b;
 
  text-decoration: none;
 
 }
 
 a:active {
 
  color: #58595b;
 
  text-decoration: none;
 
 }

.top-bar {
  display: flex;
  background-color: #eee;
  height: 32px;
  align-items: center;
  justify-content: flex-end;
}

.top-bar a{
  margin: 10px;
}
.mid-bar {
  border: 1px solid #000;
  align-items: center;
  display: flex;
  width: 100%;
  display: flex;
  height:110px;
}

.serchbar {
  border: 1px solid #000;
  /* justify-content: center; */
  /* border: 1px solid red; */
  
  /* width: 400px; */
  /* height: 300px; */
  /* margin-right: 50px; */
}
.mypage {
  
  margin-left:550px;
  display: inline-block;
  margin-right:40px;

  
}
.mypage p{
  justify-content: center;
  
}
.cart {
  display: inline-block;
  margin-right: 40px;
}
.cart p {
  justify-content: center;
}

.upload {
  display:inline-block;
  justify-content: center;
}

.upload p{
  justify-content: center;
}


.category{
  display: flex;
  background-color: rgb(105, 156, 231);
  width: 150px;
  height: 110px;
  align-items: center;
  justify-content: center;
  
  
  
}
.category h4{
  margin-left: 6px;
}

.logo {
  width: 300px;
  height: 100px;
  margin-top: 30px;
 
}

.profiles {
  border: 1px solid #000;
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: rgb(191, 208, 235);;
  color:black;
}

.user{
  display: flex;
  
}
.user p{
  margin-top: 10px;
}

.user img{
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.intro {
  
  margin-right: 40px;
  display: block;
}


/* 상품 크기조절 */
.col-md-2 img{
  width: 160px;
  height: 160px;
  border-radius: 5px;
}

