.top-bar {
  display: flex;
  background-color: #eee;
  height: 32px;
  align-items: center;
  justify-content: flex-end;
}

.top-bar a{
  margin: 10px;
}

.category{
  display: flex;
  background-color: rgb(105, 156, 231);
  width: 120px;
  height: 110px;
  align-items: center;
  justify-content: center;
  
  
  
}
.category h4{
  margin-left: 6px;
}

.logo {
  width: 500px;
  height: 100px;
  
  margin-left: 140px;
  margin-top: -80px;
  display: block;
}

